* { box-sizing: border-box; }
:root {
    --font-family: Arial;
    --text-color: #000;
    --bg-color: #f7f8c5;
    --fs: 24px;
    --lh: 30px;
}
body {
    font-family: var(--font-family);
    /* -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale; */
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 10px 15px;
    margin: 0;
}
ol li, ul li {
    list-style-position: inside;
}
ul li {
    list-style-type: none;
    margin-bottom: 1em;
}
h1, p {
    font-size: var(--fs);
    line-height: var(--lh);
}
h1 {
    font-size: 50px;
    margin-top: 10px;
}
a { color: var(--text-color); }

#title-and-description {
    margin-bottom: 10px;
}

#welcome {
    display: flex;
    flex-flow: column wrap;
    gap: 0px;
}
p {
    font-size: var(--fs);
    line-height: var(--lh);
    margin: 10px 0;
}

main#home {
    /* max-width: 400px; */
    margin: 0 auto;
}

/* Scobies */
#scobies {
    display: flex;
    flex-flow: column nowrap;
}
#scobies a {
    text-decoration: none;
    font-size: var(--fs);
    line-height: var(--lh);
    border-bottom: 1px solid #000000;
    padding: 8px 0px;
}
/* #scobies a:nth-child(odd) {
    background: #f1f1f1;
} */
#scobies a u {
    color: blue;
    text-decoration: underline;
    font-size: 16px;
    word-break: break-all;
    display: none;
}
#scobies a:hover {
    background-color: #c5ddf372;
}

#load-more {
    padding: 6px;
    margin: 2em 0;
    font-family: var(--font-family);
    border: 1px solid #000;
    color: var(--text-color);
    background: var(--bg-color);
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    display: none;
}

#loading {
    font-size: 16px;
    color: var(--text-color);
}

#loading.done-loading {
    display: none;
}
