* { box-sizing: border-box; }
:root {
    --font-family: Verdana, Arial, Helvetica, sans-serif;
    --text-color: #000;
    --bg-color: #fff;
}
body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 10px 15px;
    margin: 0;
}
h1 {
    font-weight: bold;

}
ol li, ul li {
    list-style-position: inside;
}
ul li {
    list-style-type: none;
    margin-bottom: 1em;
}
h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}
a { color: var(--text-color); }

#title-and-description {
    width: min-content;
    margin-bottom: 10px;
}

#welcome {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}
#about {
    max-width: 400px;
}
p {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0;
}

/* Scobies */
#scobies {
    display: flex;
    flex-flow: row wrap;
    grid-gap: 10px;
    margin-top: 10px;
    border-top: 2px dotted #aeaeae;
    padding-top: 20px;
}
#scobies a {
    border: 1px solid #c3c3c3;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px;
    line-height: 18px;
}
#scobies a u {
    font-family: courier;
    font-size: 14px;
    word-break: break-all;
    text-decoration: none;
}
#scobies a:hover {
    background: #f4f0e4;
}

#load-more {
    padding: 8px;
    margin: 2em 0;
    font-family: var(--font-family);
    border: 1px solid #000;
    color: var(--text-color);
    background: var(--bg-color);
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    display: none;
}

#loading {
    font-size: 16px;
    color: var(--text-color);
}

#loading.done-loading {
    display: none;
}

#load-more:hover {
    color: #fff;
    background: #1919eb;
}