* { box-sizing: border-box; }
body {
    padding: 8px;
    /* line-height: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    background: #fcedbe;
    color: #1f1209;
}
h1, h2, h3, h4, a, ul, ol, li, p, figure {
    /* font-size: 14px;
    font-weight: normal; */
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: bold; 
}
h1, h2, h3, h4, ul, ol, p {
    margin-bottom: 1.3em;
}
ol li, ul li {
    list-style-position: inside;
}
ul li {
    list-style-type: none;
    margin-bottom: 1em;
}
#home {
    color: #073a0a;
}
h1 {
    font-size: 300% !important;
    margin-bottom: .5em !important;
}
h1, h2 {
    font-weight: bold; 
}
label {
    display: inline-block;
    margin-bottom: .2em;
}
input {
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #c5c5c5;
    padding: 5px;
    font-size: 100%;
    color: #073a0a;
    -webkit-appearance: none;
}
#color {
    height: 50px;
    width: 50px;
    padding: 0;
    outline: 0;
    border: 0;
}
.button {
    border-radius: 5px;
    background: #e0e0e0;
}
a { color: #073a0a; }
#welcome {
    display: grid;
    grid-template-columns: 200px .6fr;
    grid-gap: 1em;
}
#about {
    font-size: 18px !important;
    margin: 10px 0;
    line-height: 25px;
}
#scobies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 70px); */
    grid-gap: 10px;
}
#scobies a {
    /* max-height: 100px; */
    /* height: 200px; */
    /* width: 150px; */
    /* height: 150px; */
    border: 1px solid #073a0a;
    /* border-radius: 100%; */
    padding: 1em;
    /* background: #f3eacb; */
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    /* float: left; */
    /* margin: 5px; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#scobies a:hover {
    background: #e9dfbc;
}
@media (max-width: 700px) {
    #welcome {
        grid-template-columns: 1fr;
    }
}